<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slither.io Clone</title>
    <link rel="stylesheet" href="/static/css/snakeStyles.css" />
</head>
<body>

<canvas id="gameCanvas"></canvas>

<div id="scoreboard">
    <div>Length: <span id="length">0</span></div>
    <div>Rank: <span id="rank">0</span></div>
</div>

<div id="leaderboard" style="opacity: 0.2">
    <h2>Leaderboard</h2>
    <ol id="leaderboard-list">
    </ol>
</div>

<script src="/static/js/scriptSnake.js"></script>
</body>
</html>
